<div class="contact_container">
    <h1>Entre em contato</h1>
    <hr width="50px" color="darkred">
    <div class="contact_container_inputs">
        <div class="input_profile">
            <input type="text" placeholder="Nome" size="30px">
            <input type="text" placeholder="Email" size="30px">
            <input type="text" placeholder="Assunto" size="30px" >
        </div>
        <div class="input_mensage">
            <textarea class="" name="text" id="" cols="150" rows="10" placeholder="Sua mensagem"></textarea>
        </div>
    </div>
    <button><a href="mailto:antonioguilhermemc@gmail.com">Enviar email</a></button>
</div>