<div class="container_intro">
    <div class="container_intro_left">
        <h2>Bem vindo</h2>
        <h1>Me chamo Antonio,sou <span class="teste">Desenvolvedor</span></h1>
        <p>Estou buscando uma vaga de estagio ou junior como Desenvolvedor Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis rerum adipisci consequuntur, deserunt voluptas dolor esse a, placeat, similique facere quisquam ex! Architecto, aliquid. Assumenda consequatur maiores consequuntur necessitatibus esse.</p>

        <ul class="lista">
            <li><mat-icon>camera</mat-icon></li>
            <li><mat-icon>code</mat-icon></li>
            <li><mat-icon>computer</mat-icon></li>
            <li><mat-icon>book</mat-icon></li>

        </ul>
    </div>
    
    <div class="container_intro_right">
        <img 
        height="400px"
        width="600px"
        src="https://img.freepik.com/fotos-gratis/retrato-de-homem-feliz-e-sorridente_23-2149022622.jpg" alt="">
    </div>
</div>