<app-title class="top"></app-title>
<app-intro></app-intro>



<div class="container">
    <h1>Projetos </h1>
    <hr width="80px" color="darkred">
    <div class="container_cards">
        <app-cards icone="code" info="Projects"></app-cards>
        <app-cards icone="library_books" info="About"></app-cards>
        <app-cards icone="computer" info="Courses" ></app-cards>
        <app-cards icone="computer" info="Courses" ></app-cards>
        <app-cards icone="computer" info="Courses" ></app-cards>
        <app-cards icone="computer" info="Courses" ></app-cards>
    </div>

    <app-base
    title="Sou Desenvolvedor iniciante"
    description="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer tellus est, finibus ut congue sed, faucibus ut dui. Sed congue nisl dolor, id dapibus leo elementum posuere. Ut aliquam metus quis laoreet elementum. In hac habitasse platea dictumst. In hac habitasse platea dictumst. Aliquam porta faucibus arcu, et consequat velit vestibulum in. 
    Donec quis tellus ut urna volutpat posuere quis consectetur quam."
    photo="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSebluPyh1Q61Ehn4tgo-SgFJo18PRWdkxYzRkOqal47A&s
    "
    >
    </app-base>
    

</div>

<app-contact></app-contact>