<div class="base_container">
    <div class="base_left">
        <img 
        height="300px"
        width="500px"
        src= {{photo}} alt="">    
    </div>
    <div class="base_right">
        <h1>{{title}}</h1>
        <h3>{{subTitle}}</h3>
        <p>{{description}}</p>

        <div class="about">
            <div class="about_themes">
                <ul>
                    <li>Nome</li>
                    <li>Idade</li>
                    <li>Endereço </li>
                    <li>Telefone</li>
                    <li>Email </li>
                </ul>
            </div>
            <div class="about_answers">
                <ul>
                    <li>Antonio Guilherme Macedo Camara</li>
                    <li>24 anos</li>
                    <li>Fortaleza,Ceara</li>
                    <li>(85)99999-1121</li>
                    <li>antonioguilhermemc@gmail.com</li>
                </ul>
            </div>
        </div>
    </div>
</div>